*~
.#*
.DS_Store
annotations
custom.el
elpa-*
recentf
bookmarks
projectile.*
projectile-*
.smex-items
.lsp-session-*
.dap-breakpoints
eln-cache/
anaconda-mode/
.cache/
.persist/*
!.persist/.mc-lists.el
autosaves/
backups/
vimish-fold/
transient/
tramp
bm-repository
eshell/
tutorial/
url/
quelpa/
tree-sitter/src
site-lisp/*
!site-lisp/fetch.sh
*.elc
request/
codeium/
chatgpt/
dall-e/
tree-sitter/
.venv
__pycache__
etc/
var/
